
footer {
    display: flex;
    background-color: white;
    float: inline-start;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
 footer div img{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 50%;
    width: 100px;
    height: 150px;
    
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
footer a{
    font-size: 20px;
    padding: 0 14px;
    color: #001858;
}
footer .home{
    font-size: 20px;
}
footer a:hover{
    color: gold;
    text-decoration: underline;
}
hr{
    margin-top: 20px;


}
footer .pp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
